
    center{
        font-size: x-large;
    }
    body{
        background-color: rgb(234, 245, 241);
    }
    .content{
        
        display: flex;
        
    }
    h2,h1{
        color: rgb(112, 112, 243);
      
        margin-bottom: 5px;
    }
    .left{
        max-width: 50%;
        float: left;
    }
   
    .right{
        padding-left: 30%;
        align-items: center;
        justify-content: center;
        width: 50%;
        float: right;
       
    }
    input{
        font-size: larger;
        width: 350px;
        height: 40px;
        border-radius: 5px;
    }

    button{
        font-size: larger;
        border-radius: 7px;
        height: 40px;
        width: 350px;
        color: whitesmoke;
        background-color:rgb(112, 112, 243);
        border: none;
    }
    button:hover{
        background-color:darkblue;
    }
